{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<form action="/buy" method="POST">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="ticker" name="ticker" placeholder="Ticker" type="text">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="number" name="number" placeholder="Amount of Stocks" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}
