{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}
<h1>Heatmap</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-stock-heatmap.js" async>
    {
    "exchanges": [],
    "dataSource": "SPX500",
    "grouping": "sector",
    "blockSize": "market_cap_basic",
    "blockColor": "change",
    "locale": "en",
    "symbolUrl": "",
    "colorTheme": "light",
    "hasTopBar": false,
    "isDataSetEnabled": false,
    "isZoomEnabled": true,
    "hasSymbolTooltip": true,
    "width": "100%",
    "height": 500
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
<h1>Portfolio</h1>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Number of Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Total Value</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in portfolio %}
        <tr>
            <td>{{stock['ticker']}}</td>
            <td>{{stock['number']}}</td>
            <td>${{stock['price']}}</td>
            <td>${{"%0.2f" | format(stock['price']*stock['number'] | float)}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td>{{ "%0.2f" | format(cash | float) }}</td>
            <td>$1.00</td>
            <td>${{ "%0.2f" | format(cash | float) }}</td>
        </tr>
        <tr class="table-dark">
            <td colspan="3" align="left">Portfolio Value</td>
            <td>${{"%0.2f" | format(total_value | float)}}</td>
        </tr>
    </tbody>
  </table>
{% endblock %}
