{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<p1>{{ticker}}</p1>
<p1>{{price}}</p1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_d0de2"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      var symbol = {{ticker}};
    </script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "{{ticker}}",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "in",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_d0de2"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->
{% endblock %}
